# Database
DATABASE_URL=your-database-url

# Firebase Credentials
FIREBASE_CREDENTIALS=path-to-credentials

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret