# Database
DATABASE_URL=your-database-url

# Firebase Credentials
FIREBASE_CREDENTIALS=path-to-credentials
FIREBASE_API_KEY=your-firebase-api-key
FIREBASE_AUTH_DOMAIN=your-firebase-auth-domain
FIREBASE_PROJECT_ID=your-firebase-project-id

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

# Resend Email
RESEND_API_KEY=your-resend-api-key